<div class="container pages-container" >
  <div class="row">
    <div class="col-md-12 section-title">
      <h3>Who we are</h3>
    </div>
  </div>
  <div class="row">
    <!-- 3 Tabs for Story, Our Team, Our Philosophy -->
    <div role="tabpanel">

      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#story" aria-controls="story" role="tab" data-toggle="tab">Our Story</a></li>
        <li role="presentation"><a href="#philosophy" aria-controls="philosophy" role="tab" data-toggle="tab">Our Philosophy</a></li>
        <li role="presentation"><a href="#meet_the_team" aria-controls="meet_the_team" role="tab" data-toggle="tab">Meet the Team</a></li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="story">
          <h4>Where it all began</h4>
          <p>
            Jean shorts seitan biodiesel, sustainable Truffaut Carles cliche normcore. Trust fund heirloom tote bag, scenester readymade put a bird on it forage Banksy skateboard pork belly authentic banh mi kogi. Food truck hella Tumblr lomo, semiotics selfies Blue Bottle drinking vinegar. 
          </p>

          <h4>How we’ve grown</h4>
          <p>
            Authentic tousled artisan put a bird on it locavore. Fingerstache Vice Austin, twee actually butcher taxidermy heirloom VHS roof party. Vice blog disrupt narwhal, hoodie readymade butcher Austin. Pour-over dreamcatcher biodiesel tattooed, raw denim Brooklyn Intelligentsia synth whatever deep v Thundercats.
          </p>

          <h4>Where we want to be</h4>
          <p>
            Bitters pug Echo Park listicle cardigan. Twee 3 wolf moon gentrify, roof party mlkshk plaid mustache crucifix. Keffiyeh you probably haven't heard of them iPhone Wes Anderson. Next level church-key trust fund Austin YOLO High Life photo booth salvia, meditation Pinterest ugh artisan meggings. Pickled fap craft beer wayfarers. 
          </p>
        </div>
        <div role="tabpanel" class="tab-pane" id="philosophy">
          <h4>The Philosophy We Live by</h4>
          <p>
            Mustache tofu street art, Intelligentsia chia craft beer DIY single-origin coffee authentic Portland Etsy mumblecore leggings wolf. Pug organic 3 wolf moon squid, four dollar toast try-hard Williamsburg kogi ethical single-origin coffee.
          </p>
          <h4>Our Values and Mission in Life</h4>
          <p>
            Keffiyeh American Apparel photo booth, typewriter DIY pug ennui slow-carb shabby chic polaroid gastropub raw denim swag viral. Echo Park fap semiotics, viral lumbersexual salvia chambray small batch mixtape biodiesel pop-up XOXO fanny pack.
          </p>
          <h4>What We Strive for in Life</h4>
          <p>
            Bitters pork belly Blue Bottle, pickled cardigan Bushwick put a bird on it dreamcatcher Pinterest taxidermy Echo Park. Helvetica food truck Williamsburg squid photo booth, Tumblr chia heirloom. Godard Williamsburg cornhole hella stumptown, mlkshk bespoke whatever High Life chia pug kale chips four dollar toast Shoreditch. 
          </p>
        </div>
        <div role="tabpanel" class="tab-pane" id="meet_the_team">
          <h4>The Management</h4>
          <p>
            Tousled iPhone PBR, umami Portland kitsch XOXO artisan Intelligentsia Truffaut letterpress distillery street art beard. Flexitarian literally cliche, lo-fi drinking vinegar Intelligentsia tilde cold-pressed art party selvage.
          </p>
        </div>
      </div>

    </div>
  </div>
</div>
